body {
  background-image: url("./img/background.jpeg");
  background-attachment: fixed;
  background-position: center;
  margin: 0 auto;
}

/* Card Styling */

.card {
  margin: 0 auto;
}

.link {
  position: absolute;
  text-align: center;
  margin: auto;
}

.navbar {
  margin-bottom: 10px;
  width: 100%;
}
